<meta name="author" content="{{ data.site.author.name }}">
<meta name="description" content="{{ data.site.description }}">
<meta property="og:data.site_name" content="{{ data.site.author.name }} / {{ data.site.name }}">

<!-- HTML Meta Tags -->
<meta name="description" content="{{ data.site.description }}">

<!-- Google / Search Engine Tags -->
<meta itemprop="name" content="{{ data.site.author.name }} / {{ data.site.name }}">
<meta itemprop="description" content="{{ data.site.description }}">
<meta itemprop="image" content="{{ data.site.images.twitter }}">
